html,body{
	margin: 0px;
	padding: 0;
	height: 100vw;
}
table{
	padding:20px;
	width:100%;
	height:100%;
	border-spacing: 15px;
}
tr{
	width: 30%;
	height: 30%;
}
td{
	height: 30%;
	width:30%;
	background-color: yellow;
	border-radius: 10px;
}